header{
  height:45px;
  width:100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top:0;
}
.header-left{
  float:left;
  padding-left: 5%;
  
}
.logo span{
  color:red;
  
}
.header-right{
 float:right;
 background-color:#fff;
 transition: all 0.5s;
}
.header-right a:hover{
  background-color:rgba(192, 195, 192, 0.2);;
}
.header-right a{
  line-height: 45px;
  padding:0 30px;
  color:black;
  text-decoration: none;
 
} 
.main{
  height:1000px;
}
footer{
  height:250px;
  width:100%;
  background-color: rgba(192, 195, 192, 0.2);
  bottom:0;

}
.footer-title span{
  color: red;
  padding-left: 5%;
}
.footer-content{
  float: left;
  width: 28%;
  padding-left: 5%;
}
.footer-content p{
  display: inline-block;
}
.footer-content li{
  list-style: none;
}
.btn-playstore img{
  height: 50px;
  width:50%;
  padding-top: 5%;
}
